.dashboard-container {
  /* margin-top: 100px; */
    padding: 20px;
   
  }
  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Optional: This sets the container to the full height of the viewport */
  }
  .usersList{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
  .user{
    flex: 1;
     margin: 10px;
     min-width: 100px;
  }